# gitignore for tankode

*.swp
*~
*.o
*.so
*.hi
*.a

etc
display/tankode-display
display/bin/tankode-display
display/src/tankode-display
logic/tankode-logic
logic/bin/tankode-logic
logic/src/tankode-logic
logic/bin/html-palette
logic/src/html-palette
logic/bin/palette
logic/src/palette
logic/tests/test-tankode
logic/tests/test-ratiomath
doc/logo/*.html
doc/*.html
doc/logo/tankode-logo-*.svg
*.html
*/*.html
**/sitting-duck
**/chaser
**/escaper
**/left-turner
**/right-turner
**/zigzagger
**/wal
**/walls
*.prof
