# gitignore for tankode

*.swp
*.swo
*~
*.o
*.so
*.hi
*.a

*.wav
*.mp3
*.zip

*.pnm
*.gif

etc
runner/display/tankode-display
runner/display/bin/tankode-display
runner/display/src/tankode-display
runner/tankode-logic
runner/bin/tankode-runner
runner/src/tankode-runner
runner/bin/html-palette
runner/src/html-palette
runner/bin/palette
runner/src/palette
runner/tests/test-tankode
runner/tests/test-ratiomath
runner/tests/test-list
runner/tests/test-readshow
doc/logo/*.html
doc/*.html
doc/logo/tankode-logo-*.svg
*.html
*/*.html
**/sitting-duck
**/chaser
**/chaserII
**/chaserIII
**/escaper
**/left-turner
**/right-turner
**/zigzagger
**/wal
**/walls
*.prof
!bash/*
!ruby/eg/*
human/human
